<div class="slider-content-container cursor-pointer">
  <div class="flex justify-between cursor-default">
    <div class="padding-left cursor-pointer">
      <div
        class="text-2xl"
        @mouseover="showSeeAll = true"
        @mouseout="showSeeAll = false"
      > 
        <span class="font-bold">Movies</span>
        <span
          class="hidden-element text-sm"
          :class="{ visible: showSeeAll }"
          @mousein.stop="showSeeAll = true"
        > 
          See All
          <i
            class="fa fa-angle-right"
            aria-hidden="true"
          />
        </span>
      </div>
    </div>
    <div
      class="mr-4"
      v-if="isShowPagination"
    >
      <span
        class="w-3 h-1 inline-block mx-px"
        v-for="(x, index) in Math.ceil(contentData.length / contentContainerSize)"
        :key="index"
        :class="{'bg-white': (slideContainer[1] === index), 'bg-gray-700': (slideContainer[1] !== index) }"
      >
      </span>
    </div>
  </div>
  <div
    @mouseover="isShowPagination = true"
    @mouseout="isShowPagination = false"
    @click="right"
    class="slide-button slide-button--right"
    v-if="Math.ceil(contentData.length / contentContainerSize) !== 1"
  >
    <i
      class="fa fa-chevron-right fa-2x"
      aria-hidden="true"
    />
  </div>
  <div
    @mouseover="isShowPagination = true"
    @mouseout="isShowPagination = false"
    @click="left"
    v-if="infinityLoop"
    class="slide-button slide-button--left"
  >
    <i
      class="fa fa-chevron-left fa-2x"
      aria-hidden="true"
    />
  </div>
  <div
    ref="showcase"
    :class="{expand: expandShowcase}"
    v-on:mouseleave="hideShowcase"
    class="showcase"
    @mouseover="isShowPagination = true"
    @mouseout="isShowPagination = false"
  >
    <div
      v-if="selectedSlide"
      class="showcase-body"
      @click="handleClickShowcase"
    >
      <div class="showcase-body-theatrical">
        <img
          :src="selectedSlide.Banner"
          alt="Banner"
        />
      </div>
      <div class="showcase-body-caption-container">
        <div class="showcase-body-caption__movie-info">
          <i
            class="fa fa-play-circle text-4xl"
            aria-hidden="true"
          />
          <div class="movie-info__title">
            {{ selectedSlide.Title }}
          </div>
          <div class="movie-info__info">
            <span class="text-green-400 font-semibold mr-2">
              {{ selectedSlide.Year }}
            </span>
            <span class="border rounded px-1 mr-2 text-center">{{ selectedSlide.Rated }}</span>
            <span> 
              {{ selectedSlide.Runtime }}
            </span>
          </div>
          <div class="movie-info__genre">
            <span class="mr-2"> {{ selectedSlide.Genre }} </span>
          </div>
        </div>
        <div class="text-center">
          <div
            class="showcase-action"
            @click.stop="handleClickShowcaseAction(selectedSlide)"
          >
            <i
              class="fa fa-angle-down" 
              aria-hidden="true"
            />
          </div>
        </div>
      </div>
    </div>
  </div>

  <div
    ref="wrapper"
    id="wrapper"
    class="slider-wrapper"
    @mouseover="isShowPagination = true"
    @mouseout="isShowPagination = false"
  >
    <TransitionGroup
      tag="div"
      class="slider"
      name="list"
    >
      <div
        v-for="(container,slideContainerIndex) in slideContainer"
        :key="container"
        :class="[slideContainerIndex%3 === 1 ? 'middle' : '']"
        v-on:transitionend="containerTransition"
        class="slide-container"
      >
        <div
          ref="slides"
          class="slide"
          v-for="(content , contentIndex) in contentContainer[container]"
          v-mouse:mouseover="{position: slideContainerIndex % 3, handler: selectSlide}"
          v-mouse:mouseout="{position: slideContainerIndex % 3, handler: unselectSlide}"
          :key="content.id"
          :id="'slide-'+container+'-'+contentIndex"
          :class="{selected: markSlideSelected(content)}"
          :style="setBackgroundImage(content.Poster)"
          :data-container-index="slideContainerIndex"
          :data-content-index="contentIndex"
          @click.stop="handleClickSlide(content)"
          @mouseover="setSelectedSlide(content)"
        />
      </div>
    </TransitionGroup>
    <Transition name="fade">
      <div
        class="movie-detail-container bg-white"
        v-if="showMovieDetail"
      >
        <transition name="fade-transition">
          <div
            class="w-full h-full movie-detail-background"
            :style="setBackgroundImage(selectedSlide.Banner)"
          >
            <div
              class="h-full flex flex-col justify-between"
              style="background-image: linear-gradient(90deg, black 30%, transparent);"
            >
              <div>
                <div class="w-full flex justify-end">
                  <div
                    @click="handleCloseDetail"
                    class="mr-4 mt-2"
                  >
                    <i
                      class="text-white text-4xl fa fa-close"
                      style="text-shadow: #000000 0 0 20px;"
                      aria-hidden="true"
                    />
                  </div>
                </div>
                <div class="text-white movie-detail-caption w-6/12 text-5xl font-bold">
                  {{ selectedSlide.Title }}
                </div>
                <transition name="fade-transition">
                  <div
                    v-if="selectedDetailMenu === 'overview'"
                  >
                    <div class="movie-detail-caption w-5/12 cursor-default">
                      <div class="font-semibold text-white">
                        <span class="mr-2"> {{ selectedSlide.Year }} </span>
                        <span class="border px-1 mr-2">{{ selectedSlide.Rated }}</span>
                        <span> {{ selectedSlide.Runtime }} </span>
                      </div>
                      <div class="mt-4">
                        {{ selectedSlide.Plot }}
                      </div>
                      <div class="mt-4">
                        <span class="font-bold"> Pemeran: </span> 
                        <span> {{ selectedSlide.Actors}} </span>
                      </div>
                      <div>
                        <span class="font-bold"> Genre: </span> 
                        <span> {{ selectedSlide.Genre}} </span>
                      </div>
                    </div>
                  </div>
                </transition>
                <transition name="fade-transition">
                  <div
                    v-if="selectedDetailMenu === 'trailer'"
                  >
                    <div class="movie-detail-caption cursor-default">
                      <div class="text-white text-4xl font-bold"> Trailer </div>
                    </div>
                  </div>
                </transition>
                <transition name="fade-transition">
                  <div
                    v-if="selectedDetailMenu === 'details'"
                  >
                    <div class="movie-detail-caption cursor-default">
                      <div class="text-white text-4xl font-bold"> Details </div>
                    </div>
                  </div>
                </transition>
              </div>
              <div class="w-full font-bold text-white uppercase flex justify-center">
                <div
                  v-for="(menu, index) in detailMenus"
                  :key="index"
                  class="mx-2 movie-detail-menu-item"
                  :class="{selected: menu === selectedDetailMenu}"
                  @click="selectedDetailMenu = menu"
                >
                  {{ menu }}
                </div>
              </div>
            </div>
          </div>
        </transition>
      </div>
    </Transition>
  </div>
</div>
