// Variable
$duration: .5s;

//Margin for each left and right
$container-margin-x: 5vw;
$container-body: 90vw;

// For Slide
$button-width: $container-margin-x;
$slider-container-width: $container-body;
$slider-width: $slider-container-width * 3;